.container{
    width: 100%;
    height: 100vh;
    background-color: blue;
}
.card{
    width: 100%;
    height: 100vh;
    background-color: aqua;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}